<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Cagliostro|Caveat:700,400|" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Julius+Sans+One|Kanit:300" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <title>The <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="/images/thevoice_stage5.jpg" style="background-repeat:no-repeat;background-size:cover; background-color: black; background-position-y: 24em">
    
    <!-- Top Page -->
    <div class="container" style="top:9em;position:relative;" >
      <h1 class="text-center" style="font-family:'Russo One';font-size:110px; color: white">The <%= title %></h1>
      <h1 class="text-center" style="font-family:'Julius Sans One';font-size:30px; font-weight: 300; color: white">A Statistical Guide through The Voice Thailand Blind Audition</h1>
    </div>

    <!-- Section 1 -->
    <div class="container" style="top:60em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Section 1</h1>
    </div>

    <!-- Section 2 -->
    <div class="container" style="top:120em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Section 2</h1>
    </div>
    
  </body>

</html>
