<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Cagliostro|Caveat:700,400|" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Julius+Sans+One|Kanit:300" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <title>The <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: black;">
    
    <!-- Top Page -->
    <div class="container" style="margin-top:8em;position:relative;" >
      <h1 class="text-center" style="font-family:'Russo One';font-size:110px; color: white">The <%= title %></h1>
      <!-- <h1 class="text-center" style="font-family:'Julius Sans One';font-size:30px; font-weight: 300; color: white">A Statistical Guide through The Voice Thailand's Blind Audition</h1> -->
      <h1 class="text-center" style="font-family:'Julius Sans One';font-size:30px; font-weight: 300; color: white">Is it really about the <b style="font-size:40px"><i>VOICE</i> ?</b></h1>
    </div>

    <div style="background-image:url('/images/thevoice_stage5.jpg'); background-repeat:no-repeat; background-size: cover; position: absolute; top: 25em; left: 0; right:0; height:600px">

    </div>

    <!-- Section 1: Overview -->
    <!-- Stats -->
    <div class="container" style="margin-top:55em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Overview</h1>
    </div>
    <div class="container" style="margin-top:6em;position:relative;color: white">
      <div class="row justify-content-md-center">
        <div class="col-3 text-center" id="counter">
          <span class="counter-value" data-count="6"></span>
          <p style="font-size: 24px">Seasons</p>
        </div>
        <div class="col-4 text-center" id="counter">
          <span class="counter-value" data-count="6"></span>
          <p style="font-size: 24px">Coaches</p>
        </div>
        <div class="col-3 text-center" id="counter">
          <span class="counter-value" data-count="372"></span>
          <p style="font-size: 24px">Contenders</p>
        </div>
      </div>
    </div>

    <!-- Bar Chart -->
    <div class="container" style="margin-top:5em;position:relative;color: white;">
      <div class="row justify-content-md-center" style="margin-top:6em;position:relative;height:15em;">
        <div class="col-sm-5 text-center" style="height:100%">
          <div style="height:100%; color: white; fill: white!important" id="graph-1"></div>
          <p style="font-size: 24px">Season per Coach</p>
        </div>
        <div class="col-sm-1 text-center">
        </div>
        <div class="col-sm-5 text-center" style="height:100%">
          <div style="height:100%" id="graph-2"></div>
          <p style="font-size: 24px">Winning per Coach</p>
        </div>
      </div>
    </div>

    <!-- Section 2: Try Audition -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">The Try Audition</h1>
    </div>
    <form style="margin-top: 7em; color:white;" id="try-audition-form">
      <div class="form-row align-items-center">
        <div class="col-md-2">
        </div>
        <div class="form-group col-md-2">
          <label for="inputGenre">Song Genre</label>
          <select id="inputGenre" class="form-control" required>
            <option selected>Thai Country</option>
            <option>Rock</option>
            <option>Pop</option>
            <option>Alternative</option>
            <option>Country</option>
            <option>Jazz</option>
            <option>R&B</option>
            <option>Soul</option>
            <option>Hip-Hop</option>
            <option>Acoustic</option>
            <option>Male</option>
            <option>Blues</option>
          </select>
          <small id="genreHelpBlock" class="form-text text-muted">
            <br>
            <br>
          </small>
        </div>
        <div class="form-group col-md-2">
          <label for="inputLanguage">Language</label>
          <select id="inputLanguage" class="form-control" required>
            <option selected>Thai</option>
            <option>English</option>
            <option>Others</option>
          </select>
          <small id="languageHelpBlock" class="form-text text-muted">
            <br>
            <br>
          </small>
        </div>
        <div class="form-group col-md-2">
            <label for="inputSexuality">Sexuality</label>
            <select id="inputSexuality" class="form-control" required>
              <option>Male</option>
              <option selected>Female</option>
              <option>More than one person</option>
            </select>
            <small id="ageHelpBlock" class="form-text text-muted">
              <br>
              <br>
            </small>
          </div>
          <div class="form-group col-md-2">
            <label for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge" required>
            <small id="ageHelpBlock" class="form-text text-muted" style="top:1em">
              In case of more than one person, fill in one of the person's age
            </small>
          </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button id="auditionButton" style="margin-top: 5em;" type="submit" class="btn btn-lg btn-primary">Try Audition !</button>
      </div>
    </form>

    <!-- Section 3: Coaches Profile -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Coaches Profiles</h1>
    </div>

    <!-- Section 4: Contender Clustering -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Contenders Clustering</h1>
    </div>

    <!-- Section 5: Conclusion -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Conclusion</h1>
    </div>

    <!-- Optional JavaScript -->
    <!-- D3 Library -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery Code -->
    
    <!-- Counter Up -->
    <script>
      var isPassed = 0;
      $(window).scroll(function() {
        var oTop = $('#counter').offset().top - window.innerHeight;
        if (isPassed == 0 && $(window).scrollTop() > oTop) {
          $('.counter-value').each(function() {
            var $this = $(this),
              countTo = $this.attr('data-count')
            $({
              countNum: $this.text()
            }).animate({
                countNum: countTo
              },
              {
                duration: 3500,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum);
                }
              })
          })
          isPassed = 1
        }

      })
    </script>

    <!-- Try Audition Submit -->
    <script>
      $(function () {
        var auditionButton = $('#auditionButton')
        $('#try-audition-form').on('submit',function (e) {
          var genre = $("#inputGenre").val()
          var sexuality = $("#inputSexuality").val()
          var age = $("#inputAge").val()
          var language = $("#inputLanguage").val()
          const form_answer = {
            genre: genre,
            sexuality: sexuality,
            age: age,
            language: language
          }
          $.ajax({
            type: 'post',
            url: '/api/audition',
            data: form_answer,
          })
          .done((data) => {
            console.log(auditionButton)
            alert($('auditionButton'))
          })
          e.preventDefault()
        })
      })
    </script>

    <!-- D3 Code -->
    <script src="/javascripts/bar_chart.js"></script>
  </body>

</html>
