<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Cagliostro|Caveat:700,400|" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Julius+Sans+One|Kanit:300" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <title>The <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: black;">
    
    <!-- Top Page -->
    <div class="container" style="margin-top:8em;position:relative;" >
      <h1 class="text-center" style="font-family:'Russo One';font-size:110px; color: white">The <%= title %></h1>
      <!-- <h1 class="text-center" style="font-family:'Julius Sans One';font-size:30px; font-weight: 300; color: white">A Statistical Guide through The Voice Thailand's Blind Audition</h1> -->
      <h1 class="text-center" style="font-family:'Julius Sans One';font-size:30px; font-weight: 300; color: white">Is it really about the <b style="font-size:40px"><i>VOICE</i> ?</b></h1>
    </div>

    <div style="background-image:url('/images/thevoice_stage5.jpg'); background-repeat:no-repeat; background-size: cover; position: absolute; top: 25em; left: 0; right:0; height:600px">

    </div>

    <!-- Section 1: Overview -->
    <!-- Stats -->
    <div class="container" style="margin-top:55em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Overview</h1>
    </div>
    <div class="container" style="margin-top:6em;position:relative;color: white">
      <div class="row justify-content-md-center">
        <div class="col-3 text-center" id="counter">
          <span class="counter-value" data-count="6"></span>
          <p style="font-size: 24px">Seasons</p>
        </div>
        <div class="col-4 text-center" id="counter">
          <span class="counter-value" data-count="6"></span>
          <p style="font-size: 24px">Coaches</p>
        </div>
        <div class="col-3 text-center" id="counter">
          <span class="counter-value" data-count="389"></span>
          <p style="font-size: 24px">Contenders</p>
        </div>
      </div>
    </div>

    <!-- Bar Chart -->
    <div class="container" style="margin-top:5em;position:relative;color: white;">
      <div class="row justify-content-md-center" style="margin-top:6em;position:relative;height:15em;">
        <div class="col-sm-5 text-center" style="height:100%">
          <div style="height:100%; color: white; fill: white!important" id="graph-1"></div>
          <p style="font-size: 24px">Season</p>
        </div>
        <div class="col-sm-1 text-center">
        </div>
        <div class="col-sm-5 text-center" style="height:100%">
          <div style="height:100%" id="graph-2"></div>
          <p style="font-size: 24px">Winning</p>
        </div>
      </div>
    </div>

    <!-- Section 2: Try Audition -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">The Try Audition</h1>
    </div>
    <form style="margin-top: 7em; color:white;" id="try-audition-form">
      <div class="form-row align-items-center">
        <div class="col-md-4">
        </div>
        <div class="form-group col-md-2">
          <label for="inputSong">Song</label>
          <input type="text" class="form-control" id="inputSong" required>
        </div>
        <div class="form-group col-md-2">
          <label for="inputArtist">Artist</label>
          <input type="text" class="form-control" id="inputArtist" required>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="form-row align-items-center" style="margin-top: 1em;">
        <div class="col-md-2">
        </div>
        <div class="form-group col-md-2">
          <label for="inputGenre">Song Genre</label>
          <select id="inputGenre" class="form-control" required>
            <option selected>Thai Country</option>
            <option>Rock</option>
            <option>Pop</option>
            <option>Hip-Hop/Alternative</option>
            <option>Country</option>
            <option>Jazz/Soul/Blues</option>
            <option>R&B</option>
            <option>Acoustic</option>
          </select>
          <small id="genreHelpBlock" class="form-text text-muted">
            <br>
            <br>
          </small>
        </div>
        <div class="form-group col-md-2">
          <label for="inputLanguage">Language</label>
          <select id="inputLanguage" class="form-control" required>
            <option selected>Thai</option>
            <option>English</option>
            <option>Others</option>
          </select>
          <small id="languageHelpBlock" class="form-text text-muted">
            <br>
            <br>
          </small>
        </div>
        <div class="form-group col-md-2">
            <label for="inputSexuality">Sexuality</label>
            <select id="inputSexuality" class="form-control" required>
              <option>Male</option>
              <option selected>Female</option>
              <option>More than one person</option>
            </select>
            <small id="ageHelpBlock" class="form-text text-muted">
              <br>
              <br>
            </small>
          </div>
          <div class="form-group col-md-2">
            <label for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge" required>
            <small id="ageHelpBlock" class="form-text text-muted" style="top:1em">
              In case of more than one person, fill in one of the person's age
            </small>
          </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button id="auditionButton" style="margin-top: 5em;" type="submit" class="btn btn-lg btn-primary">Let's Try !</button>
      </div>
    </form>
    <div id="loader" style="display: none"></div>
    <div class="col-md-12 text-center audition-result animate-bottom" id="auditionResultBlock" style="display: none; margin-top: 3em;">
      <div id="auditionResult1"></div>
      <div id="auditionResult2" style="margin-top: 1em;"></div>
      <button id="tryAgainButton" style="margin-top: 5em;" type="submit" class="btn btn-lg btn-danger">Try Again</button>
    </div>

    <!-- Section 3: Coaches Profile -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Coaches Profiles</h1>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-5">
        </div>
        <div class="form-group col-md-2 text-center">
          <label for="inputSelectCoach" style="color:white; margin-top: 2em;">Pick a Coach</label>
          <select id="inputSelectCoach" class="form-control" onchange="changeCoachProfile()" required>
            <option selected>Kong</option>
            <option>Joey</option>
            <option>Stamp</option>
            <option>Kim</option>
            <option>Singto</option>
            <option>Da</option>
          </select>
        </div>
        <div class="col-md-5">
        </div>
      </div>>
    </div>

    <!-- Coach Kong -->
    <div id="coach-kong-profile" class="container animate-bottom" style="margin-top:3em;position:relative;color: white">
      <div class="row justify-content-lg-center">
        <div class="col-lg-3 text-center" style="color: white">
          <h2 style="font-family:'Russo One">Coach Kong</h2>
          <img src="/images/kong.jpg" class="w-75 rounded-circle" style="margin-top:2em;" />
          <div class="row" style="margin-top: 3em;">
            <div class="col-md-6 text-center" id="counter-coach">
              <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="46.9"></p>
              <p style="font-size: 20px">Push</p>
            </div>
            <div class="col-md-6 text-center" id="counter-coach">
              <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="41.2"></p>
              <p style="font-size: 20px">Picked</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 text-center" style="color: white">
          <div class="row justify-content-lg-center" style="margin-top: 2em;">
            <div id="chartPickRateSex_Kong"></div>
            <p style="font-size: 24px">Pick Rate by Sexuality</p>
          </div>
          <div class="row justify-content-lg-center" style="margin-top: 2em;">
            <div id="chartPickRateAge_Kong"></div>
            <p style="font-size: 24px">Pick Rate by Age</p>
          </div>
        </div>
        <div class="col-lg-4 text-center" style="color: white">
          <div class="row justify-content-lg-center" style="margin-top: 2em;">
            <div id="chartPickRateGenre_Kong"></div>
            <p style="font-size: 24px">Pick Rate by Genre</p>
          </div>
          <div class="row justify-content-lg-center" style="margin-top: 2em;">
            <div id="chartPickRateLang_Kong"></div>
            <p style="font-size: 24px">Pick Rate by Language</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div style="font-size: 32px;margin-top:1em;">Summary</div>
      </div>
      <div class="row justify-content-md-center">
        <div style="font-size: 24px;">ชอบเลือกนักร้องเพลง ROCK .... . </div>
      </div>
      <div class="row">
        <div id="drawDecisionTree_Kong" style="height: 500px; width: 100%"> </div>
        <p style="font-size: 24px">Tree</p>
      </div>
    </div>

    <!-- Coach Joey -->
    <div id="coach-joey-profile" class="container animate-bottom" style="margin-top:3em;position:relative;color: white;display: none">
        <div class="row justify-content-lg-center">
          <div class="col-lg-3 text-center" style="color: white">
            <h2 style="font-family:'Russo One">Coach Joey</h2>
            <img src="/images/joey.jpg" class="w-75 rounded-circle" style="margin-top:2em;" />
            <div class="row" style="margin-top: 3em;">
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="37.3"></p>
                <p style="font-size: 20px">Push</p>
              </div>
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="53.5"></p>
                <p style="font-size: 20px">Picked</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateSex_Joey"></div>
              <p style="font-size: 24px">Pick Rate by Sexuality</p>
            </div>
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateAge_Joey"></div>
              <p style="font-size: 24px">Pick Rate by Age</p>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateGenre_Joey"></div>
              <p style="font-size: 24px">Pick Rate by Genre</p>
            </div>
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateLang_Joey"></div>
              <p style="font-size: 24px">Pick Rate by Language</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 32px;margin-top:1em;">Summary</div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 24px;">ชอบเลือกนักร้องเพลง ROCK .... . </div>
        </div>
      </div>

      <!-- Coach Kim -->
    <div id="coach-kim-profile" class="container animate-bottom" style="margin-top:3em;position:relative;color: white;display: none">
        <div class="row justify-content-lg-center">
          <div class="col-lg-3 text-center" style="color: white">
            <h2 style="font-family:'Russo One">Coach Kim</h2>
            <img src="/images/kim.jpg" class="w-75 rounded-circle" style="margin-top:2em;" />
            <div class="row" style="margin-top: 3em;">
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="34.7"></p>
                <p style="font-size: 20px">Push</p>
              </div>
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="55.4"></p>
                <p style="font-size: 20px">Picked</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateSex_Kim"></div>
              <p style="font-size: 24px">Pick Rate by Sexuality</p>
            </div>
            <div class="row justify-content-lg-center"  style="margin-top: 2em;">
              <div id="chartPickRateAge_Kim"></div>
              <p style="font-size: 24px">Pick Rate by Age</p>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateGenre_Kim"></div>
              <p style="font-size: 24px">Pick Rate by Genre</p>
            </div>
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateLang_Kim"></div>
              <p style="font-size: 24px">Pick Rate by Language</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 32px;margin-top:1em;">Summary</div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 24px;">ชอบเลือกนักร้องเพลง ROCK .... . </div>
        </div>
      </div>

      <!-- Coach Stamp -->
    <div id="coach-stamp-profile" class="container animate-bottom" style="margin-top:3em;position:relative;color: white;display: none">
        <div class="row justify-content-lg-center">
          <div class="col-lg-3 text-center" style="color: white">
            <h2 style="font-family:'Russo One">Coach Stamp</h2>
            <img src="/images/stamp.jpg" class="w-75 rounded-circle" style="margin-top:2em;" />
            <div class="row" style="margin-top: 3em;">
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="42.5"></p>
                <p style="font-size: 20px">Push</p>
              </div>
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="43.5"></p>
                <p style="font-size: 20px">Picked</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateSex_Stamp"></div>
              <p style="font-size: 24px">Pick Rate by Sexuality</p>
            </div>
            <div class="row justify-content-lg-center"  style="margin-top: 2em;">
              <div id="chartPickRateAge_Stamp"></div>
              <p style="font-size: 24px">Pick Rate by Age</p>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateGenre_Stamp"></div>
              <p style="font-size: 24px">Pick Rate by Genre</p>
            </div>
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateLang_Stamp"></div>
              <p style="font-size: 24px">Pick Rate by Language</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 32px;margin-top:1em;">Summary</div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 24px;">เลือก 8/8 ผู้ชายร้องเพลง Jazz / Soul / Blues in Eng  <br> เลือก 1/8 ผู้หญิงอายุ >30 ร้องเพลงภาษาไทย</div>
        </div>
      </div>

      <!-- Coach Singto -->
    <div id="coach-singto-profile" class="container animate-bottom" style="margin-top:3em;position:relative;color: white;display: none">
        <div class="row justify-content-lg-center">
          <div class="col-lg-3 text-center" style="color: white">
            <h2 style="font-family:'Russo One">Coach Singto</h2>
            <img src="/images/singto.jpg" class="w-75 rounded-circle" style="margin-top:2em;" />
            <div class="row" style="margin-top: 3em;">
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="39.9"></p>
                <p style="font-size: 20px">Push</p>
              </div>
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="50.6"></p>
                <p style="font-size: 20px">Picked</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateSex_Singto"></div>
              <p style="font-size: 24px">Pick Rate by Sexuality</p>
            </div>
            <div class="row justify-content-lg-center"  style="margin-top: 2em;">
              <div id="chartPickRateAge_Singto"></div>
              <p style="font-size: 24px">Pick Rate by Age</p>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateGenre_Singto"></div>
              <p style="font-size: 24px">Pick Rate by Genre</p>
            </div>
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateLang_Singto"></div>
              <p style="font-size: 24px">Pick Rate by Language</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 32px;margin-top:1em;">Summary</div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 24px;">เลือก 4/24 ผช อายุ 23-30 ร้องเพลงภาษาไทย <br> เลือก 17/24 คนร้องเพลง Pop in eng <br> เลือก 6/7 ของคนร้องเพลง Rock in eng <br> </div>
        </div>
      </div>

      <!-- Coach Da -->
    <div id="coach-da-profile" class="container animate-bottom" style="margin-top:3em;position:relative;color: white;display: none">
        <div class="row justify-content-lg-center">
          <div class="col-lg-3 text-center" style="color: white">
            <h2 style="font-family:'Russo One">Coach Da</h2>
            <img src="/images/da.jpg" class="w-75 rounded-circle" style="margin-top:2em;" />
            <div class="row" style="margin-top: 3em;">
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="38.4"></p>
                <p style="font-size: 20px">Push</p>
              </div>
              <div class="col-md-6 text-center" id="counter-coach">
                <p class="counter-value-coach" style="font-size:24px; line-height: 30px;" data-count="52.1"></p>
                <p style="font-size: 20px">Picked</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateSex_Da"></div>
              <p style="font-size: 24px">Pick Rate by Sexuality</p>
            </div>
            <div class="row justify-content-lg-center"  style="margin-top: 2em;">
              <div id="chartPickRateAge_Da"></div>
              <p style="font-size: 24px">Pick Rate by Age</p>
            </div>
          </div>
          <div class="col-lg-4 text-center" style="color: white">
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateGenre_Da"></div>
              <p style="font-size: 24px">Pick Rate by Genre</p>
            </div>
            <div class="row justify-content-lg-center" style="margin-top: 2em;">
              <div id="chartPickRateLang_Da"></div>
              <p style="font-size: 24px">Pick Rate by Language</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 32px;margin-top:1em;">Summary</div>
        </div>
        <div class="row justify-content-md-center">
          <div style="font-size: 24px;">ชอบเลือกนักร้องเพลง ROCK .... . </div>
        </div>
      </div>


    <!-- Section 4: Interesting Stats -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Interesting Section</h1>
    </div>

    <!-- Section 5: Conclusion -->
    <div class="container" style="margin-top:20em;position:relative;" >
        <h1 class="text-center" style="font-family:'Russo One';font-size:30px; color: white">Conclusion</h1>
    </div>

    <!-- Optional JavaScript -->
    <!-- D3 Library -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery Code -->
    
    <!-- Counter Up -->
    <script>
      var isPassed = 0;
      $(window).scroll(function() {
        var oTop = $('#counter').offset().top - window.innerHeight;
        if (isPassed == 0 && $(window).scrollTop() > oTop) {
          $('.counter-value').each(function() {
            var $this = $(this),
              countTo = $this.attr('data-count')
            $({
              countNum: $this.text()
            }).animate({
                countNum: countTo
              },
              {
                duration: 3500,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum);
                }
              })
          })
          isPassed = 1
        }
      })
    </script>
    <script>
    var isPassedCoach = 0;
      $(window).scroll(function() {
        var oTop = $('#counter-coach').offset().top - window.innerHeight;
        if (isPassedCoach == 0 && $(window).scrollTop() > oTop) {
          $('.counter-value-coach').each(function() {
            var $this = $(this),
              countTo = $this.attr('data-count')
            $({
              countNum: $this.text()
            }).animate({
                countNum: countTo
              },
              {
                duration: 3500,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum + '%');
                }
              })
          })
          isPassedCoach = 1
        }
      })
    </script>

    <!-- Try Audition Submit -->
    <script>
      function createAuditionResult(audition_result) {
        var resultDiv = $('#auditionResultBlock')
        var result1 = $('#auditionResult1')
        var result2 = $('#auditionResult2')
        $('#loader').hide()
        if(audition_result.result === 'Yes') {
          result1.text("Congratulation !")
          var coach_name = ''
          audition_result.coach.forEach(name => {
            coach_name = coach_name + name + ', '
          })
          result2.text("You are selected by coach " + coach_name.slice(0, -2))
        }else{
          result2.text("Unfortunately, You are not picked by any coach.")
        }
        
        resultDiv.show()
        $('#tryAgainButton').show()
      }

      // Try Audition Button
      $(function () {
        var timeout;
        var auditionButton = $('#auditionButton')
        var loader = $('#loader')
        $('#try-audition-form').on('submit',function (e) {
          var song = $("#inputSong").val()
          var artist = $("#inputArtist").val()
          var genre = $("#inputGenre").val()
          var sexuality = $("#inputSexuality").val()
          var age = $("#inputAge").val()
          var language = $("#inputLanguage").val()
          const form_answer = {
            song: song,
            artist: artist,
            genre: genre,
            sexuality: sexuality,
            age: age,
            language: language
          }
          $.ajax({
            type: 'post',
            url: '/api/audition',
            data: form_answer,
            // success: () => {}
          })
          .done((data) => {
            auditionButton.hide()
            loader.show()
            timeout = setTimeout(function() {
              createAuditionResult(data)
            }, 1000)
            
          })
          e.preventDefault()
        })
      })

      // Try Again
      $(function () {
        var tryAgainButton = $('#tryAgainButton')
        tryAgainButton.on('click',function (e) {
          e.preventDefault()
          tryAgainButton.hide()
          $('#auditionResultBlock').hide()
          $('#auditionButton').show()
        })
      })
    </script>
    <script>
      function changeCoachProfile() {
        var coach = $("#inputSelectCoach").val()
        if (coach === 'Kong') {
          $("#coach-stamp-profile").hide()
          $("#coach-kong-profile").show()
          $("#coach-joey-profile").hide()
          $("#coach-kim-profile").hide()
          $("#coach-singto-profile").hide()
          $("#coach-da-profile").hide()
        }else if (coach === 'Stamp') {
          $("#coach-stamp-profile").show()
          $("#coach-kong-profile").hide()
          $("#coach-joey-profile").hide()
          $("#coach-kim-profile").hide()
          $("#coach-singto-profile").hide()
          $("#coach-da-profile").hide()
        }else if (coach === 'Joey') {
          $("#coach-stamp-profile").hide()
          $("#coach-kong-profile").hide()
          $("#coach-joey-profile").show()
          $("#coach-kim-profile").hide()
          $("#coach-singto-profile").hide()
          $("#coach-da-profile").hide()
        }else if (coach === 'Kim') {
          $("#coach-stamp-profile").hide()
          $("#coach-kong-profile").hide()
          $("#coach-joey-profile").hide()
          $("#coach-kim-profile").show()
          $("#coach-singto-profile").hide()
          $("#coach-da-profile").hide()
        }else if (coach === 'Singto') {
          $("#coach-stamp-profile").hide()
          $("#coach-kong-profile").hide()
          $("#coach-joey-profile").hide()
          $("#coach-kim-profile").hide()
          $("#coach-singto-profile").show()
          $("#coach-da-profile").hide()
        }else {
          $("#coach-stamp-profile").hide()
          $("#coach-kong-profile").hide()
          $("#coach-joey-profile").hide()
          $("#coach-kim-profile").hide()
          $("#coach-singto-profile").hide()
          $("#coach-da-profile").show()
        }
      }
    </script>

    <!-- D3 Code -->
    <script src="/javascripts/bar_chart.js"></script>
    <script src="/javascripts/pick_rate_by_sex_chart.js"></script>
    <script src="/javascripts/pick_rate_by_age_chart.js"></script>
    <script src="/javascripts/pick_rate_by_genre_chart.js"></script>
    <script src="/javascripts/pick_rate_by_lang_chart.js"></script>
    <script src="/javascripts/tree_each.js"></script>
  </body>

</html>
